.cevaplar{
    margin-top: 5px;
    display: flex;
    flex-direction: column;

}


.profil{
    display: flex;
    flex-direction: column;
    justify-content: center;/*yatay*/
    align-items: center; /*dikey*/
    font-size: 20px;
}
.mainprofil{
    margin-top:10%;
}