.App{
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;/*ne işe yarıyo*/
  align-items: center;
  flex-direction: column;
  padding: 30px;

  
}
label{
  padding-top: 10px;
}
input{
  border-radius: 5px;
  width: 200px;
  padding: 3px;
}
.Menu{
  width: 500px;
  height: 500px;
  border-radius: 10px;
  background-color: lightseagreen;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
  0 17px 50px 0 rgba(0, 0, 0, 0.19);
  
}
.Menu button {
  width: 300px;
  height: 50px;
  margin: 5px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  
}
.Logo{
  width: 200px;
  height: 200px;
}